@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.col-md-4 {
  display: flex;
  margin: 1rem 0;
}
.card {
  margin: auto;
  border-radius: 15px !important;
}
.card img {
  border-radius: 15px 15px 0 0;
}
.row {
  --bs-gutter-x: 0 !important;
}
